body {
    background: #2c2c2c;
}

header {
    float: top;
    background: #181818;
    width: 100%;
    padding: 5%;
    height: 20vh;
    color: #fff;
    border-bottom: 5px solid #4d4d4d;
}

header .logo{
    font-size: 40px;
    color: orange;
    margin-left: 20px;
    font-weight: bold;
    position: relative;
    top: -5px;
}

header .search{
    float: right;
    display: inline-block;
    width: 300px;
    margin: 2px;
    position: relative;
}

header. user{
    float: right;
    display: inline-block;
    width: 300px;
    margin: 2px;
    position: relative;
}

aside {
    float: right;
    background: #181818;
    width: 20%;
    padding: 2%;
    color: #fff;
    border-left: 5px solid #4d4d4d;
    border-bottom: 5px solid #4d4d4d;

}

.avatar{
    width: 80px;
    position: relative;
}

main {
    height: 75vh;
}

content .questions{
    float:left;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

footer{
    float: bottom;
    background: #181818;
    width: 100%;
    padding: 1%;
    height: 1vh;
    color: #fff;
    border-top: 5px solid #4d4d4d;
}