{% extends 'base.html' %}

{% load static %}

{% block title %}Последние вопросы{% endblock %}

{% block content %}
    <div class = "my-4 p-2">
        <div class="row">
            <div class = "col-6">
                <a href = "#"><h2 class="text-center">Последние вопросы</h2></a>
            </div>
            <div class = "col-6">
                <a href = "#"><h2 class="text-center">Популярные вопросы</h2></a>
            </div>
        </div>
        {% if index %}
            {% for a in index %}
                <div class = "border rounded bg-light my-4 p-2">
                    <h3>{{a.ask_title}}</h3>
                    <p>{{a.ask_explane}}</p>
                    <p>{{a.ask_date}}</p>
                </div>
            {% endfor %}
        {% else %}
            <div class = "border rounded bg-light my-4 p-2">
                <h3>Вопросов нет :(</h3>
            </div>
        {% endif %}
    </div>
	
{% endblock %}
