{% extends 'base.html' %}

{% load static %}

{% block title %}Авторизация{% endblock %}

{% block content %}
    <h1 class = "text-center">Авторизация</h1>
    <form role = "form">
        <div class = "form-group">
            <label for="email">Email или логин</label>
            <input type="email" class ="form-control" id="email" placeholder="Введите email или логин">
        </div>
        <br>
        <div class = "form-group">
            <label for="password">Пароль</label>
            <input type="password" class ="form-control" id="password" placeholder="Введите пароль">
        </div>
        <br>
        <button type="button" class="btn btn-info">Войти</>
    </form>
{% endblock %}