html{
    min-height: 100%;
}

body {
    background: linear-gradient( #16014c 30%, #e6d16c 100%) !important;
    background-attachment: scroll;
    padding: 10px;
}

.nav {
    background-color: slategrey !important;
    font-weight: bold;
}

.navbar-brand {
    font-weight: bold;
}

.nav-link {
    color: #e6d16c;
    font-weight: bold;
}

.text-style {
    color: #e6d16c;
}

.nav-avatar {
    width: 90px;
}

.right-ans{
    background-color: mediumaquamarine;
}

.right-ans-button{
    color:white;
}

.ans-avatar {
    width: 120px;
}

.ans-update {
    color:white !important;
}

.like {
    color:white;
}

.page-link {
    background-color: slategrey !important;
    color: #16014c !important;
}

.page-active {
    background-color: #e6d16c !important;
    color: #16014c !important;
}

.bottom-bar {
    margin-top: 80px;
}

.hr_washed {
    background: #e6d16c !important;
    color: #e6d16c !important;
    border-color: #e6d16c !important;
    margin: 20px 0;
    padding: 0;
    height: 0;
    border: none;
    box-shadow: 0 0 10px 5px #e6d16c;
}