{% extends 'asking/base.html' %}

{% load static %}

{% block title %}{{quest.ask_title}}{% endblock %}

{% block content %}

    <div class="p-3 mb-3 bg-light border rounded">
        <h4 class="font-weight-bold text-center">{{quest.ask_title}}</h4>
    </div>
    <div class="m-1">
        <p>{{quest.ask_explane}}</p>
    </div>
    <div class="container">
        <div class="row">
            <div class ="col-10">
                <p>{{quest.asker_name}}</p>
            </div>
            <div class ="col-2">
                <p class="text-right">{{quest.ask_date}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-9">
                <p class="tags">
                    Теги:
                    {% for tag in quest.ask_tags.all %}
                        <a href="{% url "index_tag" tag.slug %}">
                            {{ tag.name }}
                        </a>
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
            </div>
        {% if user.is_authenticated %}
            <div class = "col-3">
                <div class="row">
                    <div class="col-6">
                        <button class="btn btn-default"><i class="fas fa-thumbs-up"></i></button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-default"><i class="fas fa-thumbs-down"></i></button>
                    </div>
                </div>
            </div>
        {% endif %}
        </div>
    </div>

{% if user.is_authenticated %}
    {% if form.errors %}
        <div class="alert alert-danger">{{ form.non_field_errors.as_text|slice:"2:" }}</div>
    {% endif %}
    <hr>
    <form role="form" method="post">
        {% csrf_token %}
        <p class = "font-weight-bold">Введите ответ<p>
        {{ form.answer_text }}<br>
	    <button type="submit" class="btn btn-info">Ответить</button>
    </form>

{% else %}
    <p class="font-weight-bold">Войдите или зарегистрируйтесь, чтобы оставить ответ</p>
{% endif %}

{% if quest.ask_answer.all %}
	{% for b in quest.ask_answer.all %}
        {% if b.answer_is_right == True %}
            <div class="p-1 mb-2 bg-success bg-gradient border rounded">
                <div class="row">
                    <div class="col-6">
                        <p class="font-weight-bold">{{b.answerer_name}}</p>
                    </div>
                    <div class="col-6">
                        <p class="text-right">Правильный ответ</p>
                    </div>
                </div>
                <p>{{b.answer_text}}</p>
                <hr>
                <div class="container">
                    <div class="row">
                        <div class="col-9">
                            <p>{{b.answer_date}}</p>
                        </div>
                        {% if user.is_authenticated %}
                            <div class="col-3">
                                <div class="row">
                                    <div class="col-6">
                                        <button class="btn btn-secondary likes-button" answer="anslike" data-ans="{{ b.answer }}">
                                            <strong><i class="fas fa-thumbs-up"></i></strong>
                                        </button>
                                    </div>
                                    <div class="col-6">
                                        <button class="btn btn-secondary likes-button" answer="ansdislike" data-ans="{{ b.answer }}">
                                            <strong><i class="fas fa-thumbs-down"></i></strong>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
	    {% endif %}
    {% endfor %}
	{% for b in quest.ask_answer.all %}
        {% if b.answer_is_right == False %}
            <div class="p-1 mb-2 bg-light border rounded">
                <p class="font-weight-bold">{{b.answerer_name}}</p>
                <p>{{b.answer_text}}</p>
                <hr>
                <div class="container">
                    <div class="row">
                        <div class="col-9">
                            <p>{{b.answer_date}}</p>
                        </div>
                        {% if user.is_authenticated %}
                            <div class="col-3">
                                <div class="row">
                                    <div class="col-6">
                                        <button class="btn btn-secondary likes-button" answer="anslike" data-ans="{{ b.answer }}">
                                            <strong><i class="fas fa-thumbs-up"></i></strong>
                                        </button>
                                    </div>
                                    <div class="col-6">
                                        <button class="btn btn-secondary likes-button" answer="ansdislike" data-ans="{{ b.answer }}">
                                            <strong><i class="fas fa-thumbs-down"></i></strong>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
	{% endfor %}

{% else %}
	На этот вопрос еще никто не ответил :(
{% endif %}

	
{% endblock %}
