{% extends 'asking/base.html' %}

{% load static %}

{% block title %}Авторизация{% endblock %}

{% block content %}
    <h1 class = "text-center">Настройки профиля</h1>
    {% if alert %}
        {% if form.errors %}
            <div class="alert alert-danger">{{ form.non_field_errors.as_text|slice:"2:" }}</div>
        {% else %}
            <div class="alert alert-success">Вы успешно зарегистрированы!</div>
        {% endif %}
    {% endif %}
    <form enctype="multipart/form-data" role = "form">
        {% csrf_token %}
        <div class = "form-group">
            <label for="email">Изменить логин</label>
            {{form.username}}
        </div>
        <br>
        <div class = "form-group">
            <label for="login">Изменить email</label>
            {{form.email}}
        </div>
        <br>
        <div class = "form-group">
            <label for="password">Изменить пароль</label>
            {{form.password}}
        </div>
        <br>
        <div class = "form-group">
            {{form.password2}}
        </div>
        <br>
        <br>
        <div class="form-group">
            <label for="avatarka">Выбранная аватарка</label>
            <br>
            <img class="rounded" src="{{ avatar }}" style = "width: 200px">
            <br>
            {{form.user_avatar}}
        </div>
        <br>
        <button type="submit" class="btn btn-info">Подтвердить изменения</button>
    </form>
{% endblock %}