{% load static %}

{% block sidepanel %}
    <div class = "border rounded mb-4" style="background-color: slategrey">
        <h2 class = "text-center nav-link">Популярные теги</h2>
        <div class="text-center my-3">
            <a class="hot_tags0 text-style" style="font-weight: bold"></a>
        </div>
        <div class="text-center my-3">
            <a  class="hot_tags1 text-style" style="font-weight: bold"></a>
        </div>
        <div class="text-center my-3">
            <a class="hot_tags2 text-style" style="font-weight: bold"></a>
        </div>
        <div class="text-center my-3">
            <a class="hot_tags3 text-style" style="font-weight: bold"></a>
        </div>
        <div class="text-center my-3">
            <a class="hot_tags4 text-style" style="font-weight: bold"></a>
        </div>
    </div>
    <div class = "border rounded mb-4" style="background-color: slategrey">
        <h2 class = "text-center nav-link">Лучшие знатоки</h2>
        <div class="active_users0 text-center text-style">
        </div>
        <div class="active_users1 text-center text-style">
        </div>
        <div class="active_users2 text-center text-style">
        </div>
        <div class="active_users3 text-center text-style">
        </div>
        <div class="active_users4 text-center text-style">
        </div>
    </div>
{% endblock %}

